body{
  max-width: 960px;
  
}

header{
  display: inline-block;
  text-align: center;
}

.intro {
  font-size: x-large;  
}

.column-1{
  background-color: #e0ebeb;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  border: 2px solid black;
  padding: 5%;
  margin-left: 5%;
  
}

a {
  color:#3d5c5c;
}
.column-2{
  background-color: #e0ebeb;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  border: 2px solid black;
  padding: 5%;
}

h2:hover {
  color: #7733ff;
}
  

footer{
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  
}